:host {
  position: relative;
  margin: 50px auto;
  width: 400px;
  display: block;
  border: 1px solid #AAA;
  padding: 10px;
  > div {
    display: flex;
    label {
      flex: 1 1 auto;
    }
  }
  .divider {
    border-top: 1px solid #AAA;
    margin: 5px 0;
  }
  .loading {
    display: none;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  &.is-loading {
    .loading {
      display: inline-block;
    }
  }
}


.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
