<div>
  <label>User name:</label>
  <input name="username" type="text" [(ngModel)]="username" />
</div>
<div>
  <label>Password:</label>
  <input name="password" type="password" [(ngModel)]="password" />
</div>
<div class="divider">
</div>
<button (click)="signInButtonClickHandler($event)">
  Sign In
</button>

<div class="lds-dual-ring loading"></div>
