:host {
  display: inline-flex;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  padding: 10px 20px;
  .info {
    flex: 1 1 auto;
  }
  .logo {
    display: flex;
    align-items: center;
  }
}

.status-ok {
  color: #4caf50;
}
.status-warning {
  color: #f44336;
}

.name {
  font-weight: bold;
  font-size: 17px;
}
