<h3>
  MDefend
</h3>
<div>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="cybermdx.png" statusSuccessful="true"></app-block>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="cybermdx.png" statusSuccessful="true"></app-block>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="cybermdx.png" statusSuccessful="true"></app-block>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="cybermdx.png" statusSuccessful="true"></app-block>
</div>

<h3>
  3rd Party Integrations
</h3>
<h4>
  Active
</h4>
<div>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="forescout.png" statusSuccessful="true"></app-block>
  <app-block name="CyberMDX Core" addr="10.200.1.7" logo="forescout.png" statusSuccessful="true"></app-block>
</div>
